<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="index.html"> {{ title }}  </a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
          </li>
        </ul>
    </nav>
    
    <div class="container-fluid">
      <div class="row">
          
        <!-- Menu goes here--> 
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
              <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="" > 
                            Main Page 
                      </a>
                    </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/customers" > 
                        Customers
                      </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/newcustomer"> 
                        New Customers
                      </a>
                    </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/projects" > 
                          Project
                      </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/newproject" > 
                        New Project
                      </a>
                    </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/reporting" > 
                          Reporting
                      </a>
                    </li>
                </ul>
              </div>
          </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"> 
    
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Main Page</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <a href="/">/home</a>
                    </div>
                </div> 
                
                <div class="container">
                <section class="jumbotron text-center">
                    <div class="container">
                        <h1>Turntabl Content Management System (TCMS)</h1>
                        <p class="lead text-muted">Manage Clients & Projects With TCMS </p>
                        <p class="lead">Version 2.0.0</p>
                        <p>
                        <a href="customers.html" class="btn btn-success my-2">Customers</a>
                        <a href="projects.html" class="btn btn-secondary my-2">Projects</a>
                        </p>
                    </div>
                    </section> 
                
                    <div class="row"> 
                    <div class="col-sm"> 
                        <div class="my-3 p-3 bg-white rounded shadow-sm">
                            <h6 class="border-bottom border-gray pb-2 mb-0">Top Customers</h6>
                            <div class="media text-muted pt-3">
                                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"/><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>
                                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <div class="d-flex justify-content-between align-items-center w-100">
                                    <strong class="text-gray-dark">Dawud Ismail</strong>
                                    <a href="customers_details.html#1">Detail</a>
                                </div> 
                                </div>
                            </div>
                            <div class="media text-muted pt-3">
                                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <div class="d-flex justify-content-between align-items-center w-100">
                                    <strong class="text-gray-dark">Deniss Ky-09</strong>
                                    <a href="customers_details.html#3">Detail</a>
                                </div> 
                                </div>
                            </div>
                            <div class="media text-muted pt-3">
                                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#e83e8c"/><text x="50%" y="50%" fill="#e83e8c" dy=".3em">32x32</text></svg>
                                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <div class="d-flex justify-content-between align-items-center w-100">
                                    <strong class="text-gray-dark">Duwad Ibrahim</strong>
                                    <a href="customers_details.html#2">Detail</a>
                                </div> 
                                </div>
                            </div>
                            <small class="d-block text-right mt-3">
                                <a href="customers.html">All Customers</a>
                            </small>
                            </div>
                    </div> 
                        
                    <div class="col-sm"> 
                            <div class="my-3 p-3 bg-white rounded shadow-sm">
                            <h6 class="border-bottom border-gray pb-2 mb-0">Top Projects</h6>
                            <div class="media text-muted pt-3">
                                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#e83e8c"/><text x="50%" y="50%" fill="#e83e8c" dy=".3em">32x32</text></svg>
                                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <div class="d-flex justify-content-between align-items-center w-100">
                                    <strong class="text-gray-dark">TCMS2.0 </strong>
                                    <a href="projects_details.html#1">Detail</a>
                                </div> 
                                </div>
                            </div>
                            <div class="media text-muted pt-3">
                                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <div class="d-flex justify-content-between align-items-center w-100">
                                    <strong class="text-gray-dark">LAB Management System</strong>
                                    <a href="projects_details.html#3">Detail</a>
                                </div> 
                                </div>
                            </div>
                            <div class="media text-muted pt-3">
                                    <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"/><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>
                                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <div class="d-flex justify-content-between align-items-center w-100">
                                    <strong class="text-gray-dark">Trober</strong>
                                    <a href="projects_details.html#2">Detail</a>
                                </div> 
                                </div>
                            </div>
                            <small class="d-block text-right mt-3">
                                <a href="projects.html">All projects</a>
                            </small>
                            </div>
                        </div>
                
                    <div class="col-sm"> 
                        <div class="my-3 p-3 bg-white rounded shadow-sm">
                            <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
                            <div class="media text-muted pt-3">
                                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <strong class="d-block text-gray-dark">@dawud</strong>
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                                </p>
                            </div>
                            <div class="media text-muted pt-3">
                                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#e83e8c"/><text x="50%" y="50%" fill="#e83e8c" dy=".3em">32x32</text></svg>
                                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <strong class="d-block text-gray-dark">@TCMS2.0</strong>
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                                </p>
                            </div>
                            <div class="media text-muted pt-3">
                                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"/><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>
                                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <strong class="d-block text-gray-dark">@Trober</strong>
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                                </p>
                            </div>
                            <small class="d-block text-right mt-3">
                                <a href="#">All updates</a>
                            </small>
                        </div>
                    </div>
                    </div>
                    <div class="row"> </div> 
                </div>
    
              <footer class="text-muted">
                <div class="container">
                  <p class="float-right">
                    <a href="#">Back to top</a>
                  </p> 
                  <p>
                      Turntabl Content Manangeemnt System (TCMS) is &copy; TCMS, developed by Turntabl TLC class 2019 to Manage
                      clients contacts and projects information and descriptions. Sample by 
                      <a href="http://github.com/idawud">Dawud ismail Ibrahim</a> 
                      of <a href="https://turntabl.io/">Turntabl Ghana Ltd.</a>
                    </p>
                </div>
              </footer>
            </main> 
      </div>
    </div>