<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Customers List</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
        </button>
    </div>
</div>

<div class="row">
<div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Address</th>
              <th>Telephone No.</th>
              <th>Email</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td>1</td>
              <td>Dawud Ismail</td>
              <td>North Legon Libya</td>
              <td>05486596</td>
              <td>Email@me.dot</td>
              <td><a href="customers_details.html#1">View</a></td>
            </tr>
            <tr >
                <td>2</td>
                <td>Duwad Ibrahim</td>
                <td>china town</td>
                <td>433333333333354</td>
                <td>dawul@me.dot</td>
                <td><a href="customers_details.html#2">View</a></td>
            </tr>
            <tr >
                <td>3</td>
                <td>Deniss Ky-09</td>
                <td>Kumasi russia</td>
                <td>656565</td>
                <td>Emaicf5@me.dot</td>
                <td><a href="customers_details.html#3">View</a></td>
            </tr>
            <tr >
                <td>4</td>
                <td>Another Name</td>
                <td>somewhere</td>
                <td>+2555512664</td>
                <td>sender@name.fg</td>
                <td><a href="customers_details.html#4">View</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>